.jumbotron.clinics.text-center
  %h1 Clinics

= form_tag clinics_path, method: :get, role: "search" do
  = text_field_tag 'q', params[:q], id: "srch-term", placeholder: "Search" 
  = submit_tag "Search"

- @clinics.each do |f|
  .col-sm-4
    = link_to f.name, clinic_path(f)
    %br/
    %br/
    = link_to "Home", root_path
    = link_to "Add Clinic", new_clinic_path
