.container
  = form_for @doctor do |f|
    = f.label :name
    = f.text_field :name
    %br/
    = f.label :phone_number
    = f.text_field :phone_number
    %br/
    = f.label :specialty
    = f.text_field :specialty
    %br/
    = f.submit
    %br/
