.jumbotron.docs.text-center
  %h1 Doctors


= form_tag doctors_path, method: :get, role: "search" do
  = text_field_tag 'q', params[:q], id: "srch-term", placeholder: "Search" 
  = submit_tag "Search"
%br
- @doctors.each do |f|
  .col-sm-4
    = image_tag f.photo
    %br
    = f.name
    %br/
    = f.phone_number
    %br/
    = f.specialty
    = link_to "Edit", edit_doctor_path(f)
    = link_to "Delete", doctor_path(f), method: :delete
    %br/
    %br/
  
= link_to "Add Doctor", new_doctor_path
