/ .container
/ 	.col-lg-1
/ 		%ul.nav
/ 			%li{class: active_link('home')}
/ 				= link_to "Home", root_path
/ 			%li{class: active_link('clinics')}
/ 				= link_to "Clinics", clinics_path
/ 			%li{class: active_link('doctors')}
/ 				= link_to "Doctors", doctors_path

%nav.navbar.navbar-default.navbar-static-top
	.container
		%ul.nav.navbar-nav.navbar-left
			%li{class: active_link('home')}
				= link_to "Home", root_path
			%li{class: active_link('clinics')}
				= link_to "Clinics", clinics_path
			%li{class: active_link('doctors')}
				= link_to "Doctors", doctors_path	
			%li{class: active_link('medications')}
				= link_to "Medications", medications_path
		%ul.nav.navbar-nav.navbar-right		
			-if user_signed_in?	
				%li{class: active_link('logout')}
					= link_to "Logout", destroy_user_session_path, method: :delete
				%li{class: active_link('account_settings')}
					= link_to "Account Settings", edit_user_registration_path	
			
